* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body * {
    font-family: 'Roboto';
}

body {
    background-image: linear-gradient(150deg, rgb(15, 43, 5), rgb(0, 0, 0));
    height: 100vh;
    text-align: center;
}

header {
    padding: 75px 0;
}

.card {
    display: inline-block;
    width: 354px;
    height: 508px;

    background-image: url(assets/bg-ignite.svg);
}

.card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid black;
    margin-top: 115px;
    
}

.info {
    margin-top: 99px;
    text-align: left;
    margin-left: 70px;
    color: black;
}

.info h1 {
    font-size: 18px;
    line-height: 140%;
}

.info p {
    font-size: 14px;
    line-height: 160%;
}